.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.loader-spinner {
    border: 4px solid #007aff;
    border-radius: 50%;
    border-top-color: .transparent;
    animation: spin 0.8s linear infinite;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Анимация */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}